*{box-sizing:boreder-box;}

body{
	font-family:Arial;
	padding:10px;
	background:#f5c2e9;
}

/*ini kode untuk apa?*/
.header{
	padding:30px;
	text-alighn:center;
	background:rgb(229, 231, 230);
}

.header h1{font-size:50px;}

/*Style the topnav navigation bar*/
.topnav a{
overflow:hidden;
background-color:#7f8080;	
}

/*Style the topnav links*/
.topnav a{
	float:left;
	display:block;
	color:#f4ecf0;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}

/*Change color on hover*/
.topnav a:hover{
	background-color:#ddd;
	color:black;
}

/*Create two unequal columnsthat floats next to each other*/
/*Left column*/
.leftcolumn{
	float:left;
	width:75%;
}

/*Right column*/
.rightcolumn{
	float:right;
	width:25%
	background-color:#f1f1f1;
	padding-left:20px;
}

/*Fake image*/
.fakeimg{
	background-color:white;
	padding:20px;
	margin-top:20px;
}

/*ini kode untuk artikel*/
.card{
	background-color:rgb(250, 239, 225);
	padding:20px;
	margin-top:20px;
}

/*Clear floats after the columns*/
.row::after{
	content:"";
	display:table:
	clear:both;
}

/*Footer*/
.footer{
	padding:20px;
	text-align:center;
	background:#ddd;
	margin-top:20px
}